/Debug/
/.pydevproject
/.project
/.cproject
/gmon.out
/CMakeFiles/
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
/Makefile
/cmake_install.cmake
/cpemsConfig.cmake
/cpemsConfig.cmake.in
/cpemsConfigVersion.cmake
/cpemsConfigVersion.cmake.in
/cpemsTargets.cmake
