/pyth/venv*/
/release/
/external_packages/
/build-release/
/Debug/
/.pydevproject
/.project
/.cproject
/gmon.out
/CMakeFiles/
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
/Makefile
/cmake_install.cmake
/cpemsConfig.cmake
/cpemsConfig.cmake.in
/cpemsConfigVersion.cmake
/cpemsConfigVersion.cmake.in
/cpemsTargets.cmake
/_CPack_Packages/
/LMdataFit
/calcCMBflux
/calculate_Cth
/calculate_minkowski_v
/coco
/compute_CL_ranges
/cosmocalc
/draw_maps
/function_fft
/function_fft.last_run.log
/integrate
/interpolate
/libCPEDS.a
/libMscsWMAP.so
/libMscscore.a
/libMscsfn.a
/libMscsplot.so
/libcpems.so
/libcpems.so.0.2
/libcpems.so.0.2.10
/map_oper
/matrix_oper
/mkCMBfield
/mkFractal
/mk_gauss_map
/select-map-pixels
/smoothPoints
/test-SPinterpolation-2d
/test-cpedsMCMC-2Dcontours
/test-cpedsMCMC-gaussXY-independent
/test-cpedsMCMC-parabola_2param
/test-cpeds_refraction_space
/test-domain-decomposition
/test-fits-read
/test-function-derivative
/test-function-fft
/test-function-finter
/test-hdf-openMP
/test-hdf-openMP2
/test-mscsfn
/test-mscsfn-hdf5
/bin_function
/libcpems.so.0.2.11
/cpeds_calculate_cov
/cpeds_row_average
/.matrix_oper.last_run.log
/cpeds_calculate_cov.log
cosmocalc.runlog
Sun-data.readme
Sun-data.txt
Venus-data.readme
Venus-data.txt
install-requirements-ubuntu22.04.sh~
install-requirements-ubuntu20.04.sh~
INSTALL.txt~
pyth/dist/pyCPEDScommonFunctions-1.0-py3.8-linux-x86_64.egg
pyth/dist/pyCPEDScommonFunctions-1.0-py3.10-linux-x86_64.egg
refr-sla.ZD
refrKBneg.ZD
refrKBpos.ZD
.vscode/c_cpp_properties.json
.vscode/settings.json
diff--90_10_1010_100_0.000001_0_54_0.0065_1e-8_less_RT32KBneg.mdeg
pyth/.plot_function.log
.clang-format~
